build/
build-*/
AppDir/
dist/
.cache/
compile_commands.json
.vscode/
.idea/
*.user
*.autosave
CMakeLists.txt.user

android/*.keystore

*.db
*.db-shm
*.db-wal

logcat*

.venv
*.pyc
__pycache__/

scratch/
tmp/
